services:
  - type: web
    name: django-web-service
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn food_factory.wsgi:application
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: food_factory.settings
