{% load static %}
<footer style="background-color: #1a1a1a;
        color: #f2f2f2;
        padding: 30px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="wrapper" style="max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 20px;">
        <div class="rights">
            <p>&copy;All Rights Reserved 2025 - Food factory | Developed By MR-H4CKER</p>
        </div>
            <div class="footer_logo">
                <img src="{% static 'media/IMG_20250421_145209_306.jpg' %}" alt="Signature" style="height: 70px;">
            </div>
        <nav>
            <ul style="flex-direction: column;
            gap: 10px;
            margin-top: 15px;">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/karaoke">Karaoke/Party</a></li>
                <li><a href="/promotions">Promotions/Events</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</footer>
