<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <title>text page</title>
  <style>
    body{
      background-image:url(/static/img/homepage_pic.jpg);
      background-size:cover;
    }

    .box{
      background-color:#FFF;
      height: 100%:
      width:100%;
      border:20px black;
    }
  </style>
  <body>
<!--<img style="background-size:cover; width:100% ;" src="/static/img/homepage_pic.jpg">-->
<div>
  <header>
    <div class="box">
    ankit
    </div>
  </header>
</div>
</body>