<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login to Food factory</title>
  <link rel="stylesheet" href="/static/css/login.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
  <div class="login-container">
    <div class="login-box glass">
      <h2>Login User</h2>
      <p>Please sign in to your account</p>
      <form method="POST">{% csrf_token %}
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit" class="btn">Login</button>
<!--        <p class="footer-text">Forgot password? <a href="#">Reset here</a></p>-->
        <p class="footer-text">Register user <a href="{% url 'user-register' %}">Register</a></p>
      </form>
    </div>
  </div>
</body>
</html>
